<?xml version='1.0' encoding='utf-8'?>
<widget  version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova-Post-Plugin</name>
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <message>plugins start</message>
    <feature name="Connection">
        <param name="ios-package" value="Connection" onload="true"/>
    </feature>
    <message>plugins end</message>
    <description>
        This is just a plugin example of what to add in your xml file.
    </description>
    <access origin="*" />
</widget>
